[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
rtree = "*"
pandas = "*"
plotly = "*"
scikit-image = "*"
matplotlib = "*"
opencv-python = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
